@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var courseValue = 0;
    var chapterValue = 0;
    function CoursesCombo_SelectedIndexChanged(s, e) {
        //alert("CoursesCombo_SelectedIndexChanged");
        courseValue = s.GetValue();
        CHAPTER_CODE.PerformCallback();
       
    }
    function ChaptersCombo_SelectedIndexChanged(s, e) {
        //alert("ChaptersCombo_SelectedIndexChanged");
        chapterValue = s.GetValue();
        LESSON_CODE.PerformCallback();

    }
    function ChapterCombo_BeginCallback(s, e) {
        //alert("ChapterCombo_BeginCallback");
        e.customArgs['COURSE_CODE'] = courseValue;    }

    function LessonCombo_BeginCallback(s, e) {
        //alert("LessonCombo_BeginCallback");
        e.customArgs['CHAPTER_CODE'] = chapterValue;
        e.customArgs['COURSE_CODE'] = courseValue;
    }
</script>


<div class="col-md-2">
    @Html.Partial("../AdminPanel/AdminMenu")
</div>
<div class="col-md-8">
    <div class="row">
        <center>
            <h2>
                Belgeler
            </h2>
        </center>
    </div>
    <div class="row">
        @Html.Action("GridView1Partial")
    </div>

</div>
<div class="col-md-2">

</div>


