.logo {
    margin-top: 0px;
}


.continue {
    color: #ffffff;
    height: 40%;
}


a:hover {
    vertical-align: middle;
   
}

.header-yazi-ozellik {
font-family:'Adobe Garamond Pro';
/*font-size:17px;*/

}
.labelhizalama {

    float:left;
    text-align:left;
}
