.logo {

    margin-top:0px;
}
.continue{

    color:#ffffff;
    height:40%;
   
}
a:hover {
    
   
   vertical-align:middle;
   


color:#FFFF00; background:url("../images/fs_txt_trans_bg.png"); 


}
