<div>
    <center>
        <img src="~/img/ab.png" />
    </center>
</div>
<div class="wrapper col1">
    <div id="header">
        <div id="topnav">
            @Html.Partial("_LoginPartial")
        </div>
        <div id="logo">
            <img src="~/img/logo.png" style="width:225px; height:60px;" />
        </div>
        <br class="clear" />
    </div>
</div>

