@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a class="header-yazi-ozellik" href="javascript:document.getElementById('logoutForm').submit()">Çıkış</a></li>
            <li>@Html.ActionLink("Yönet", "index", "AdminPanel")</li>
            <li>

                @Html.ActionLink("Hoşgeldin  " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-brand header-yazi-ozellik sol-border ", title = "Manage" })

            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li> <a class=" header-yazi-ozellik sol-border" href="/Account/Register" id="registerLink">Kayıt Ol</a></li>
        <li> <a class="header-yazi-ozellik" href="/Account/Login" id="loginLink">Giriş Yap</a></li>
    </ul>
}
