
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<script type="text/javascript">
    var globalValue = 0;
    function QuestionsCombo_SelectedIndexChanged(s, e) {

        globalValue = s.GetValue();


        CHAPTER_CODE.PerformCallback();

    }
</script>
<h4></h4>


<div class="col-md-2">
    <!-- left menu vardı-->
</div>

<div class="col-md-8">
    <div class="row">
        <center>
            <h2>
                Soru Cevapları
            </h2>
        </center>
    </div>
    <div class="row">
        @Html.Action("GridViewPartial")
    </div>

</div>
<div class="col-md-2">


</div>

