
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var globalValue = 0;
    function QuestionsCombo_SelectedIndexChanged(s, e) {

        globalValue = s.GetValue();


        CHAPTER_CODE.PerformCallback();

    }
</script>


@Html.Partial("../AdminPanel/AdminMenu")
<div class="col-md-8">
    <div class="row">
        <center>
            <h2>
                Cevap Sonuçları
            </h2>
        </center>
    </div>
    <div class="row">
        @Html.Action("GridView1Partial")
    </div>

</div>
<div class="col-md-2">

</div>