@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron content-resim">
    <center>
        <img src="img/content.png">
    </center>
</div>

<div class="row">
    <div class="col-md-3">
        <center>
            <div class="div1">

                <div>
                    <center>
                        <img src="img/logo.png" class="resim">
                    </center>
                </div>
                <center>
                    <p class="div-yazi-rengi">
                        NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.


                    </p>
                </center>
                <br />
                
                <div class="div2">

                    <br />

                    <center>
                        <p><a class="renk-butonu" href="http://www.projelerim.biz/">METİSKOP HAKKINDA</a></p>
                    </center>


                </div>
            </div>
            
        </center> 
    </div>
    <div class="col-md-3">
        <div class="div1">
            <center>
                
            </center>
            <div>
                <center>
                    <img src="http://defneosgb.com.tr/wp-content/uploads/2014/07/501-260.jpg" class="resim">
                </center>

            </div>
            <center>
                <p class="div-yazi-rengi">
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
                </p>
            </center>
            
            <div class="div2">

                <br />

                <center>
                    <p><a class="renk-butonu" href="http://go.microsoft.com/fwlink/?LinkId=301866">İŞ GÜVENLİĞİNİN ÖNEMİ</a></p>
                </center>


            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="div1">
            <center>
               
            </center>
            <div>
                <center>
                    <img src="img/content.png" class="resim">
                </center>

            </div>
            <center>
                <p class="div-yazi-rengi">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            </center>
           
            <div class="div2">
               
                <br />

                <center>
                    <p ><a class="renk-butonu" href="http://go.microsoft.com/fwlink/?LinkId=301866">EĞİTİME BAŞLA</a></p>
                </center>


            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="div1">
            <div>
                <center>
                    <img src="http://mebk12.meb.gov.tr/meb_iys_dosyalar/41/01/173805/resimler/2014_02/k_28153220_dsc_1026.jpg" class="resim">
                </center>

            </div>
            <center>
                <p class="div-yazi-rengi">İZMİT ENDÜSTRİ MESLEK LİSESİ</p>
            </center>

            <div class="div2">


                <br />

                <center>
                    <p><a class="renk-butonu" href="http://www.izmiteml.meb.k12.tr/">İZMİT EML HAKKINDA</a></p>
                </center>


            </div>

        </div>
        </div>

    </div>