@{
    ViewBag.Title = "Index";
}
<div >
    <center>
        <h2>Kurslar</h2>
    </center>
</div>

<div>
    <center>

<<<<<<< HEAD
        @Html.Action("GridViewPartial")
    </center>

</div>
=======
@Html.Action("GridViewPartial")


>>>>>>> f81c29bb50277077cc1ff07994812396fd0babf6
