@{
    ViewBag.Title = "Index";
}

@Html.Partial("../AdminPanel/AdminMenu")
<div class="col-md-8">
    <div class="row">
        <center>
            <h2>
                Cevap Sonuçları
            </h2>
        </center>
    </div>
    <div class="row">

<div>
    <center>
        <h2>Kurslar</h2>
    </center>
</div>

<div>

        @Html.Action("GridViewPartial")
    </div>

</div>
</div>
<div class="col-md-2">

</div>

