@{
    ViewBag.Title = "Index";
}
<div >
    <center>
        <h2>Kurslar</h2>
    </center>
</div>

<div>
    <center>

<<<<<<< HEAD

=======
>>>>>>> db0befa59a07a56193c2a4a16ab20a48f6409417
        @Html.Action("GridViewPartial")
    </center>

</div>
<<<<<<< HEAD
=======

>>>>>>> db0befa59a07a56193c2a4a16ab20a48f6409417
