@{
    ViewBag.Title = "Index";
}
<div >
    <center>
        <h2>Kurslar</h2>
    </center>
</div>

<div>
    <center>

<<<<<<< HEAD

=======
>>>>>>> 436f9bc4705e9df21a1c1b08d1dd48cefb7c658c
        @Html.Action("GridViewPartial")
    </center>

</div>
<<<<<<< HEAD
=======


>>>>>>> 436f9bc4705e9df21a1c1b08d1dd48cefb7c658c
