@model System.Collections.IEnumerable

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="col-md-11">
    <h2>Eğitim İçeriği</h2>
    @Html.Partial("MasterDetailMasterPartial", Model)
</div>