@model System.Collections.IEnumerable
@{
    ViewBag.Title = "Index";
}
<h4></h4>
<div class="col-md-2">
    @Html.Partial("AdminMenu")
</div>

<div class="col-md-8">
    <div class="row">
        <center>
            <h2>
                Eğitim İçeriği
            </h2>
        </center>
    </div>
    <div class="row">
        @Html.Partial("MasterDetailMasterPartial", Model)
    </div>

</div>
<div class="col-md-2">
    
</div>
