
@{
    ViewBag.Title = "index";
}

<script type="text/javascript">
    var courseValue = 0;
    var chapterValue = 0;
    var lessonValue = 0;
    function CoursesCombo_SelectedIndexChanged(s, e) {
        //alert("CoursesCombo_SelectedIndexChanged");
        courseValue = s.GetValue();
        CHAPTER_CODE.PerformCallback();

    }
    function ChaptersCombo_SelectedIndexChanged(s, e) {
        //alert("ChaptersCombo_SelectedIndexChanged");
        chapterValue = s.GetValue();
        LESSON_CODE.PerformCallback();

    }

    function LessonsCombo_SelectedIndexChanged(s, e) {
        alert("hello");
        lessonValue = s.GetValue();
        DOCUMENT_CODE.PerformCallback();

    }

    function ChapterCombo_BeginCallback(s, e) {
        //alert("ChapterCombo_BeginCallback");
        e.customArgs['COURSE_CODE'] = courseValue;
    }

    function LessonCombo_BeginCallback(s, e) {
        //alert("LessonCombo_BeginCallback");
        e.customArgs['CHAPTER_CODE'] = chapterValue;
        e.customArgs['COURSE_CODE'] = courseValue;
    }
    function DocumentCombo_BeginCallback(s, e) {
        //alert("LessonCombo_BeginCallback");
        e.customArgs['CHAPTER_CODE'] = chapterValue;
        e.customArgs['COURSE_CODE'] = courseValue;
        e.customArgs['LESSON_CODE'] = lessonValue;
    }
</script>



<h2>index</h2>

@Html.Action("GridViewPartial")
