
@{
    ViewBag.Title = "index";
}

<h2></h2>


@Html.Partial("../AdminPanel/AdminMenu")
<div class="col-md-8">
    <div class="row">
        <center>
            <h2>
               Sorular
            </h2>
        </center>
    </div>
    <div class="row">
        @Html.Action("GridViewPartial")
    </div>

</div>
<div class="col-md-2">

</div>